.sidebar {
	position: fixed;
	display: block;
	top: 46px;
	bottom: 0;
	left: 0;
}
.main {
	position: fixed;
	display: block;
	top: 46px;
	bottom: 0;
	padding-left: 20px;
	overflow-y: auto;
	height: calc(100vh - 58px);
}

.nav-link {
	font-weight: bold;
	color: black;
}

.nav-link:hover {
	color: blue;
	font-weight: bold;
	background-color: gainsboro;
}
